# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
media/

# If you're using Postgres:
*.psql

# Virtual environment folder:
venv/
.venv/
*venv*

# Ignore .env files
.env
.env.*


# IDE specific files
.vscode/
.idea/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

