{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">  <!-- related varaibles -->
                <legend class="border-bottom mb-4">Striving for Academic Excellence!</legend>
                {{ form|crispy }}  <!--this crispy does all the styling!! {{form.as_p}} redner form as a paragraph-->
            </fieldset>
            
            <div class="form-group">  <!-- created a button  submit buitton-->
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">  <!-- margin left with a value of 2 -->
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
