{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'base/main.css' %}">
  
    <!-- if else statement in html and endif is how you end it! -->
    {% if title %}
        <title>Grade Tracker - {{ title }}</title>
    {% else %}
        <title>Grade Tracker</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container"> <!-- inside of div container class -->
                                            <!-- blog-home from name path urlpattern5 -->
          {% if user.is_authenticated %}
          <a class="navbar-brand mr-4" href="{% url 'gradetracker-home' %}">Grade Tracker</a>
          {% else %}
          <a class="navbar-brand mr-4" href="#">Grade Tracker</a>
          {% endif %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          
          
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'gradetracker-home' %}">Home</a>
              {% else %}
              {% endif %}
              <a class="nav-item nav-link" href="{% url 'gradetracker-about' %}">About</a>
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'gradetracker-grade-report' %}">Grade Report</a>
              {% else %} <!--if user not loged in-->
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %} <!--Django providing us with an user variable that contains the current user.-->
                <!--and it has an attribute called is_authenticated! allows to check if user login or not-->
                <!--<a class="nav-item nav-link" href="{% url 'gradetracker-logout' %}">Logout</a>-->
                <form method="POST" action="{% url 'gradetracker-logout' %}" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="nav-item nav-link btn btn-link">Logout</button>
                </form>
              {% else %} <!--if user not loged in-->
                <a class="nav-item nav-link" href="{% url 'gradetracker-login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'gradetracker-register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Welcome! {{user.username}}</h3>
            <p class='text-muted'>We care about your academic success!
              
              {% block sidebar_list %}
              <ul class="list-group">
                <!--<li class="list-group-item list-group-item-light">My Profile</li>
                <li class="list-group-item list-group-item-light">Assignment Reminders</li>
                <li class="list-group-item list-group-item-light">Your Grade Report</li>
                -->
              </ul>
              {% endblock %}
              
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
